.heroWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6em;
    height: 320px;
}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.buttonHero {
    align-self: flex-start;
}

.heroImage {
    width: 100%;
    height: 100%;
}

.heroImage img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}