header {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logoSearchWrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;
}

.logoWrapper img {
    display: block;
    height: auto;
    width: 198px;
}

.searchButton {
    all: unset;
    cursor: pointer;
}

@media (max-width: 440px) {
    header {
        margin-top: 1em;
    }

    .logoWrapper img {
        width: 128px;
    }
}

@media (max-width: 350px) {
    header,
    .logoSearchWrapper {
        flex-direction: column;
        width: 100%;
    }
}
