header {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
}

.logo-search-wrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;
}

.logo-wrapper img {
    display: block;
    height: auto;
    width: 198px;
}

.search-button {
    all: unset;
    cursor: pointer;
}