header {
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: space-between;
}

.logoSearchWrapper {
    display: flex;
    align-items: center;
    gap: 1em;
    flex: 1;
}

.logoWrapper img {
    display: block;
    height: auto;
    width: 198px;
}

.searchButton {
    all: unset;
    cursor: pointer;
}