.search-bar {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    border-radius: 8px;
    background-color: white;
    max-width: 550px;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.search-bar .default-input {
    padding-left: 3%;
}