.separator {
    width: 100%;
    height: 1px;
    opacity: 30%;
    background-color: #cfcfcf;
}

.footerContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 24px;
}

.footerTitle {
    color: #111111;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 18px;
}

.footerSubTitle {
    color: #111111;
    font-size: 14px;
    margin: 0;
}

.socialMedia {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 30px;
}

.socialIcon {
    height: 18px;
    width: 18px;
    fill: #111111;
}