.container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    min-height: 100vh;
}

.footer-container {
    margin-top: auto;
}

main {
    padding: 0 5%;
}

/* main heading */

.heading-main {
    font-family: 'Exo 2', sans-serif;
}

/* main button */
.button-main {
    all: unset;
    background-color: #28587B;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 0.5em 1em;
}

/* default input styling */

.default-input {
    border-radius: 6px;
    height: 42px;
    border: 1px solid #efefef;
    padding-left: 3em;
    font-size: 1em;
    outline: none;
    width: 100%;
}

textarea.default-input {
    resize: vertical;
    min-height: 5em;
    font-family: 'Roboto', sans-serif;
    padding-top: 0.6em;
    font-size: 1em;
}

input[type=date] {
    font-family: 'Roboto', sans-serif;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}


.auth-form h1 {
    font-family: 'Exo 2', sans-serif;
}

.auth-form,
.add-event-wrapper {
    margin: auto;
    width: 400px;
    height: auto;
}

.auth-form form,
.add-event-wrapper form {
    margin: 1em 0;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.input-wrapper i {
    position: absolute;
    left: 5%;
    top: 1.3em;
    transform: translateY(-50%);
}

.auth-button {
    margin: 0 auto;
}

.auth-redirect {
    text-align: center;
    text-decoration: underline;
}