.container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    min-height: 100vh;
}

.footer-container {
    margin-top: auto;
}

main {
    padding: 0 5%;
    flex: 1;
}

/* main heading */

.heading-main {
    font-family: 'Exo 2', sans-serif;
}

/* main button */
.button-main {
    background-color: #28587B;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 0.5em 1em;
}