.container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    min-height: 100vh;
}

.footer-container {
    margin-top: auto;
}

main {
    padding: 0 5%;
}

/* main heading */

.heading-main {
    font-family: 'Exo 2', sans-serif;
}

/* main button */
.button-main {
    all: unset;
    background-color: #28587B;
    border-radius: 8px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    padding: 0.5em 1em;
}

/* default input styling */

.default-input {
    border-radius: 6px;
    height: 42px;
    border: 1px solid #efefef;
    padding-left: 3em;
    font-size: 1em;
    outline: none;
    width: 100%;
}