.eventContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em auto;
    width: 60%;
}

.eventDetails {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 1em;
}

.eventImage img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 8px;
}

.eventTicketPrice,
.eventGoing,
.eventDate,
.eventTicketsLeft {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.eventDescription .eventHeadings,
.eventLocation .eventHeadings {
    margin-bottom: 0.5em;
}

.eventButton {
    display: flex;
    gap: 2em;
    justify-content: center;
}

.buttonAction {
    display: inline-flex;
    gap: 0.5em;
    /* margin: 0 auto; */
    align-items: center;
}

.event-container .ldsRing {
    margin: 0 auto;
}

.googleMapsStyle {
    height: 200px;
    width: 200px;
}